body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
#nav-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    margin-top: 18px;
}
.alinks {
    text-decoration: none;
    color: #222;
}
.alinks:hover {
    text-decoration: underline;
}
.nav-right-main {
    padding-top: 4px;
    display: flex;
}
.nav-right-sub {
    padding-right: 15px;
}
#body-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    margin-top: 200px;
}
.search-box {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.logo-pos {
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}
.box {
    height: 40px;
    opacity: 0.3;
    border-radius: 0.2;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
.box:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
#form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 25px 4px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    height: 40px;
    justify-content: center;
}
.submit-button:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
#languages {
    display: flex;
    justify-content: center;
    line-height: 28px;
    font-size: small;
    text-align: center;
    font-family: arial,sans-serif;
    word-spacing: 4px;
}
#lang-sub a{
    text-decoration: none;
    color: #1a0dab;
}
#footer {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#india {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    box-sizing: border-box;
}
.terms {
    display: flex;
    white-space: nowrap;
}
.terms a {
    padding: 15px;
    text-decoration: none;
    color: #70757a;
}
.last {
    display: flex;
    flex-direction: row;
}
.left {
    margin-left: 20px;
}
.right {
    position: fixed;
    right: 20px;
}
.signin {
    color: #fff;
    font-family: "Google Sans", Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
    padding: 9px 22px;
}
.signin:hover{
    text-decoration: none;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
